
<section class="mb-5 pt-130px">
    <div class="container">
        
        <div class="section-intro pt-30px">
            <h2>Formas de <span class="section-intro__style">Pago</span></h2>
        </div>

        <div class="row pt-30px">
            
            <div class="row row-cols-1 row-cols-md-3 text-center">
                <div class="col mb-4">
                  <div class="card h-100">
                    <img src="../../../../assets/img/Pagos/efectivo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Efectivo y Débito</h5>
                      <img src="../../../../assets/img/Pagos/debitos.png" class="card-img-top imgpt-60px" alt="...">
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <img src="../../../../assets/img/Pagos/tarjetas.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Tarjetas de Crédito</h5>
                      <img src="../../../../assets/img/Pagos/creditos.png" class="card-img-top imgpt-30px" alt="...">
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <img src="../../../../assets/img/Pagos/electronico.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Pagos Electrónicos</h5>
                      <img src="../../../../assets/img/Pagos/pagoselect.png" class="card-img-top imgpt-30px" alt="...">
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <img src="../../../../assets/img/Pagos/otros.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Préstamos de La caja de Acción Social</h5>
                      <img src="../../../../assets/img/Pagos/otrospagos.png" class="card-img-top imgpt-30px" alt="...">
                    </div>
                  </div>
                </div>
              </div>
                  
        </div>

    </div>
</section>

<app-footer></app-footer>


