
<section class="mb-5 pt-130px">
    <div class="container">
        
        <div class="section-intro pt-30px">
            <h2>Optimi<span class="section-intro__style">zaciones</span></h2>
        </div>

        <div class="row pt-30px">
            <div class="col-md-4">
              <div class="card text-center card-product">
                <div class="card-product__img">
                  <img class="card-img" src="../../../../assets/img/lepton.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-8">
                <div>

                    <h4>Queremos que nuestros clientes puedan aprovechar al máximo la utilización de las placas.</h4>
                    <br>
                    <h4>Para ello contamos con un servicio de optimización de cortes gratuito.</h4>
                    <br>
                    <h4>Acercate por nuestro local o consultanos por alguno de nuestros medios de contacto.</h4>

                    <div class="row pt-30px">
                        <div class="col-md-3 text-center">
                          <div class="social-ico">
                            <a href="https://wa.me/5492645856793" target="_blank"><div id="whatsapp"></div></a>
                          </div>
                          <h4>Whatsapp</h4>
                        </div>
              
                        <div class="col-md-3 text-center">
                          <div class="social-ico">
                            <a href="https://www.compraensanjuan.com/tienda-virtual/anuncios-listado/272414/lliteras-placas-maderas/9/1" target="_blank"><div id="csj"></div></a>
                        </div>
                          <h4>Compra en San Juan</h4>
                        </div>
              
                        <div class="col-md-3 text-center">
                          <div class="social-ico">
                            <a href="https://www.facebook.com/lliterasplacasymaderas/" target="_blank"><div id="facebook"></div></a>
                        </div>
                          <h4>Facebook</h4>
                        </div>
              
                        <div class="col-md-3 text-center">
                          <div class="social-ico">
                            <a href="https://www.instagram.com/lliteras.placasymaderas/" target="_blank"><div id="instagram"></div></a>
                        </div>
                          <h4>Instagram</h4>
                        </div>
              
                        
                      </div>

                </div>
              </div>
          </div>

    </div>
</section>

<app-footer></app-footer>

