
<section class="mb-5 pt-130px">
    <div class="container ">

        <div class="row">
            <div class="col-md-4">
                <div class="section-intro pt-30px">
                    <h2>Donde <span class="section-intro__style">Estamos</span></h2>
                </div>
            </div>
            <div class="col-md-8">
                <div class="section-intro pt-30px">
                    <h4>Av. Mendoza Sur 454, Rawson - San Juan - Argentina</h4>
                </div>
            </div>
        </div>
        
        <div class="row pt-30px">
            <div class="col-md-8 offset-md-2">
              <div class="card text-center card-product">
                <div class="card-product__img">
                  <img class="card-img" src="../../../../assets/img/donde-comp.png" alt="">
                </div>
              </div>
            </div>
          </div>
            
    
        

    </div>
</section>

<app-footer></app-footer>