<section class="mb-5 pt-130px">
    <div class="container">
        <div class="section-intro pt-30px pb-30px">
            <h2>Selecciona <span class="section-intro__style">un rubro</span></h2>
        </div>
      <div class="row">

        <div class="col-md-2 offset-md-1">
          <figure class="snip1104">
            <img src="../../../../assets/img/categorias/maderas.jpg" />
            <figcaption>
              <h2>Maderas</h2>
            </figcaption>
            <a routerLink="/productos/maderas"></a>
          </figure>
        </div>

        <div class="col-md-2">
          <figure class="snip1104">
            <img src="../../../../assets/img/categorias/ferreteria.jpg" />
            <figcaption>
              <h2>Ferretería</h2>
            </figcaption>
            <a routerLink="/productos/ferreteria"></a>
          </figure>
        </div>

        <div class="col-md-2">
          <figure class="snip1104">
            <img src="../../../../assets/img/categorias/adhesivos.jpg" />
            <figcaption>
              <h2>Adhesivos</h2>
            </figcaption>
            <a routerLink="/productos/adhesivos"></a>
          </figure>
        </div>

        <div class="col-md-2">
          <figure class="snip1104">
            <img src="../../../../assets/img/categorias/Protectores.jpg" />
            <figcaption>
              <h2>Protectores</h2>
            </figcaption>
            <a routerLink="/productos/protectores"></a>
          </figure>
        </div>

        <div class="col-md-2">
          <figure class="snip1104">
            <img src="../../../../assets/img/categorias/Herramientas.jpg" />
            <figcaption>
              <h2>Herramientas</h2>
            </figcaption>
            <a routerLink="/productos/herramientas"></a>
          </figure>
        </div>



      </div>
    </div>
  </section>
  <!-- ================ trending product section end ================= -->

<app-footer></app-footer>